.image-short {
  max-height: 400px;
}

.exercise-sign{
  position: absolute;
  top: 20%;
  right:32%;
  z-index: 23;
}
@media (max-width:480px) {
  .exercise-sign{
    top: 25%;
    right:10%;
  }
}
.hanging-sign{
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 23;
}
.torn-diary-jaycee{
  position: absolute;
  bottom: 0%;
  left: 25%;
  z-index: 23;

}
.torn-diary-big-jaycee {
  background: url("https://escapeoutbucket213334-staging.s3.amazonaws.com/public/hurricane/diarypage-big.png") 0 20px / contain no-repeat;
  height:330px;
  padding-top: 50px;
  padding-left: 35px;
  font-family: 'Delicious Handrawn';
  font-size:18px;
  line-height: 20px;
  max-width:250px;
}
.big-width {
  max-width:300px;
}
.big-font {
  font-size:24px;
  line-height: 30px;
  padding-left: 60px;
  padding-top: 60px;
}
.hanging-sign-big-jaycee {
  background: url("https://escapeoutbucket213334-staging.s3.amazonaws.com/public/hurricane/sign-big.png") 0 20px / contain no-repeat;
  height:330px;
  max-width:250px;
  padding-top: 80px;
  padding-left: 40px;
  font-family: 'Delicious Handrawn';
  font-size:18px;
  line-height: 20px;
}
.exercise-sign-big-jaycee {
  height:230px;
  width:350px;
  padding-top: 40px;
}
@media (max-width:480px) {
  .torn-diary-big-jaycee {
    padding-top: 60px;
    padding-left: 40px;
  }
}
.bench-big-jaycee {
  background: url("https://escapeoutbucket213334-staging.s3.amazonaws.com/public/hurricane/bench-gazebo-background.png") 0 20px / contain no-repeat;
  height:330px;
  max-width:300px;
  padding-top: 35px;
  font-family: 'Delicious Handrawn';
  font-size:18px;
  line-height: 15px;
  text-align: center;
}
.diary-jaycee{
  position: absolute;
  right:33%;
  z-index: 23;
  top:64%;
}
@media (max-width:480px) {
  .diary-jaycee {
    top:62%;
    right:20%;
    max-width:40%;
  }
}

.diary-big-jaycee {
  background: url("https://escapeoutbucket213334-staging.s3.amazonaws.com/public/hurricane/opendiary.png") 0 20px / contain no-repeat;
  height:330px;
  padding-top: 40px;
  padding-left: 30px;
  font-family: 'Delicious Handrawn';
  font-size:18px;
  line-height: 20px;
}

.safe-shelter {
  position:absolute;
  bottom:0;
  right:18%;
  z-index:22;
}

@media (max-width:480px) {
  .safe-shelter {
    right:1%;
  }
}

.cement-safe {
  position:absolute;
  bottom:0%;
  left:45%;
  width:60px;
  z-index:23;
}

@media (max-width:480px) {
  .cement-safe  {
    left:42%;
    bottom: 2%;
  }
}
.dirt-safe {
  position:absolute;
  top:33%;
  left:45%;
  width:60px;
  z-index:23;
}

@media (max-width:480px) {
  .dirt-safe  {
    left:40%;
    top: 32%;
  }
}
/* gazebo */
.left-bush {
  position:absolute;
  bottom:0%;
  left:23%;
  z-index:22;
}
@media (max-width:480px) {
  .left-bush {
    left:0%;
    max-width:40%;
  }
}
.right-bush {
  position:absolute;
  bottom:0%;
  right:23%;
  z-index:22;
}
@media (max-width:480px) {
  .right-bush {
    right:0%;
    max-width:40%;
  }
}
.words-on-string {
  position:absolute;
  bottom:30%;
  right:33%;
  z-index:22;
}
@media (max-width:480px) {
  .words-on-string  {
    right: 60%;
    max-width: 40%;
    bottom: 40%;
  }
}
.bench {
  position:absolute;
  bottom:10%;
  right:45%;
  max-width: 130px;
  z-index:23;
}
@media (max-width:480px) {
  .bench  {
    right:40%;
    max-width: 110px;
    bottom: 20%;
  }
}