.image-short {
  max-height: 400px;
}
.hanging-sign{
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 23;
}
.torn-diary-jaycee{
  position: absolute;
  bottom: 0%;
  left: 25%;
  z-index: 23;

}
.torn-diary-big-jaycee {
  background: url("https://escapeoutbucket213334-staging.s3.amazonaws.com/public/hurricane/diarypage-big.png") #699A7D top left / contain no-repeat;
  height:calc(100vh - 60px);
  padding-top: 40px;
  padding-left: 30px;
}
@media (max-width:480px) {
  .torn-diary-big-jaycee {
    padding-top: 60px;
    padding-left: 50px;
  }
}

.diary-jaycee{
  position: absolute;
  bottom: 25%;
  right: 35%;
  z-index: 23;
}
.right-picnic-table {
  position:absolute;
  top:63%;
  right:23%;
  z-index:22;
}
@media (max-width:480px) {
  .right-picnic-table {
    right:1%;
    max-width:50%;
  }
}
.safe-shelter {
  position:absolute;
  bottom:0;
  right:18%;
  z-index:22;
}
@media (max-width:480px) {
  .safe-shelter {
    right:1%;
  }
}
.left-picnic-table {
  position:absolute;
  top:62%;
  left:18%;
  z-index:22;
}
@media (max-width:480px) {
  .left-picnic-table {
    left:1%;
    max-width:50%;
    top:64%;
  }
}
.cement-safe {
  position:absolute;
  bottom:0%;
  left:43%;
  width:80px;
  z-index:22;
}
@media (max-width:480px) {
  .cement-safe  {
    left:38%;
    bottom: 5%;
  }
}
/* gazebo */
.left-bush {
  position:absolute;
  bottom:0%;
  left:13%;
  z-index:22;
}
@media (max-width:480px) {
  .left-bush {
    left:0%;
    max-width:40%;
  }
}
.right-bush {
  position:absolute;
  bottom:0%;
  right:13%;
  z-index:22;
}
@media (max-width:480px) {
  .right-bush {
    right:0%;
    max-width:40%;
  }
}
.words-on-string {
  position:absolute;
  bottom:30%;
  right:33%;
  z-index:22;
}
@media (max-width:480px) {
  .words-on-string  {
    right:50%;
    max-width:40%;
  }
}
.bench {
  position:absolute;
  bottom:7%;
  right:48%;
  z-index:22;
}
@media (max-width:480px) {
  .bench  {
    right:40%;
    max-width:40%;
    bottom:8%;
  }
}