@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Roboto&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.data
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  overscroll-behavior: contain;
}
body {
  background: #000000;
  background: #262626;
  padding: 0;
}
html {
  font-family: "Open Sans", Helvetica, system-ui, Verdana, Arial, sans-serif;
}
/* all games */
.main-content {
  padding: 0 10px;
  color:#fff;
}
.main-container {
  max-width:900px;
  position: relative;
  margin:0 auto;
  position:relative;
}
.admin {
  background-color:white;
  padding:10px;
}
.heading {
  color: #B8CEF9;
  margin: 10px 0;
}
.heading2 {
  color: #0D5189;
  background:lightgray;
  display:inline-block;
  padding:3px 5px;
  margin: 10px 0;
}
.city-links a {
  color:#387bb2;
}
.link {
  font-size:20px;
  font-weight:bold;
  color:#004C09;}
.link:hover {
  text-decoration: underline;
}
.font-small {
  font-size:.9em;
}
.italics {
  font-style: italic;
}
.right {
  color:#004C09;
  font-size: 1.5em;
  font-weight: bold;
}
.red {
  color:#7e0b0b;
}
.hide {
  display:none;
}
.show {
  display:block;
}
.hide-gradual {
  visibility: hidden;
  opacity: 0;
}
.show-gradual {
  visibility: visible;
  opacity: .9;
}
.red-border {
  border: 1px solid red;
}
.inputNumBox {
  width:30px;
  border: 1px solid black;
  height:30px;
  font-size:20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.bouncy{
  animation:bouncy 7s infinite linear;
}
@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}
.description-text {
  width: 190px;
}
@media (max-width:815px) {
  .description-text {
    width:280px;
  }
}

.game-card {
  width:330px;
  padding:0!important;
}
.column-50 {
  width:50%;
}
.game-card-full {
  text-align: center;
}
.game-card-header {
 color:#fff;
  font-weight: bold;
  font-size: 1.3em;
}
.game-card-bg-image {
  height:100%;
  position:absolute;
  top:30px;
  left:0;
}
.inner-game-card {
  background-color: rgb(0, 0, 0, 0.7);
  padding:5px 12px ;
  color:white;
  height:145px;
}
.flex-games {
 flex-wrap: wrap;
  gap: 1rem ;
  padding-top: 20px ;
  flex-direction: row;
  justify-content: flex-start;
}
@media (max-width:740px) {
  .flex-games {
    justify-content: center !important;
  }
}
.small {
  font-size:.8em;
}
.all-screen {
  position: absolute;
  top: 30px;
  left:30px;
  width: calc(100vw - 60px);
  max-width:840px;
  background-color: #699A7D;
  /*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
  /*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
  background-image: linear-gradient(#45a46d, #87e0ad);
  opacity: 1;
  z-index: 103;
  transition: visibility 0s, opacity .5s linear;
  padding:20px;
  border:1px solid black;
}

@media all and (max-width: 500px) {
  .all-screen {
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
  }
}
.cover-screen {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .9;
  z-index: 102;
  transition: visibility 0s, opacity .5s linear;
  overflow-x:hidden;
}

.fixed {
  position: fixed;
  top: 30px;
  left: 30px;
  width: calc(100vw - 60px);
  max-width:900px;
  z-index: 103;
  opacity: 1;
  background-color: #699A7D;
  padding:20px;
  border:1px solid black;
  height:1800px;
}
@media all and (min-width: 802px) {
  .fixed {
    left: 0;
  }
}
.hint-holder {
  position:absolute;
  top:-1px;
  max-width: 1000px;
  width: calc(100vw - 40px);
  left:-1px;
  background-color:#699A7D;
  height: calc(100vh - 40px);
  margin-bottom:20px;
  padding:20px 30px 20px 20px;
  transition: visibility 0s, opacity .5s linear;
  z-index:150;
}

:root, [data-amplify-theme] {
  --amplify-components-fieldcontrol-border-color: #000 !important;
  --amplify-components-textfield-border-color: #000 !important;
  --amplify-components-field-label-color: #000 !important;
  --amplify-components-button-primary-background-color: #0D5189 !important;
  --amplify-components-tabs-item-active-color: #0D5189 !important;
  --amplify-components-tabs-item-active-border-color: #0D5189 !important;
  /* you can also use references: */
  --amplify-colors-font-secondary: var(--amplify-colors-neutral-60);
  --amplify-components-button-padding-block-start: .25rem !important;
  --amplify-components-button-padding-block-end: .25rem !important;
}
/* leader board */
.table-container {
  display: block;
  margin: 2em auto;
  width: 100%;
  max-width: 900px;
}
/* light gray: #E7EEF5 */
/* blue: #0D5189 */

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-left: solid 1px #d9d9d9;
  transition: 0.5s;
}
.flex-table:first-of-type {
  border-top: solid 1px #0D5189;
  border-left: solid 1px #0D5189;
}
.flex-table.header .flex-row {
  background: #0D5189;
  color: white;
  border-color: #0D5189;
}
.flex-row {
  width: calc(100% / 5);
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
  background-color: #f4f2f1;
  color:black;
  font-size:.8em;
}
.fourths {
  width: calc(100% / 4);
}
.four-width{
    width: 80%;
}
.flex-table.row:nth-child(odd) .flex-row {
  background: #f4f2f1;
}
.flex-table:hover {
  background: #F5F5F5;
  transition: 500ms;
}


/*
@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 4);
  }
  .flex-row.first {
    width: 100%;
  }
  .column {
    width: 100%;
  }
}
@media all and (max-width: 430px) {
  .flex-table .flex-row {
    border-bottom: 0;
  }
  .flex-table .flex-row:last-of-type {
    border-bottom: solid 1px #d9d9d9;
  }
  .header .flex-row {
    border-bottom: solid 1px;
  }
  .flex-row {
    width: 100%;
  }
  .flex-row.first {
    width: 100%;
    border-bottom: solid 1px #d9d9d9;
  }
  .column {
    width: 100%;
  }
  .column .flex-row {
    border-bottom: solid 1px #d9d9d9;
  }
  .flex-cell {
    width: 100%;
  }
} */

.alert-container {
  position: absolute;
  bottom:40%;
  right: 30%;
  z-index: 110;
}

.alert-inner {
  display: inline-block;
  padding: 8px 16px;
  z-index: 22;
  color:white;
  background-color: #7e0b0b;
  box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -webkit-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -moz-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
}
/* buttons */
.button {
  background-color: #0D5189;
  font-family:'Roboto',sans-serif;
  color:white;
  font-weight:normal;
}
.button-small {
  font-size: 12px;
  margin: 10px 20px 10px 0;
}
.button-center {
  margin: 10px auto;
}
.inline-block {
  display: inline-block;
}
.delete {
  background-color: red;
  margin: 0px 10px 0px 0;
}
.right-button {
  margin-left:10px;
}
@media (max-width:400px) {
  .right-button {
    margin:10px auto;
    display:block;
  }
}
.go-to-game-button {
  background-color: #58AAED;
  margin-top: 10px;
}
.button:hover, .button-small:hover {
  cursor: pointer;
  background-color: #3FB20F !important;
}

.button2 {
  background-color: #4CAF50;
  border: 1px solid black;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  top:0px;
  right:20px;
}

.button2:hover {
  cursor: pointer;
  background-color: #555;
}
.button3 {
  left:30px;
  right:auto;
}
.close-button {
  background-color: transparent;
  color: #000;
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 15px;
  position:absolute;
  top:10px;
  right:20px;
  font-size:20px;
  width:30px;
  height:30px;
}

.action-button {
  background-color: #4CAF50;
  color: #ffffff;
  border: 1px solid black;
  margin-bottom: 15px;
}
.bold {
  font-weight:bold;
}

.bold-underline {
  text-decoration: underline;
  font-weight:bold;
}
.num-Player {
  width:200px;
  margin: 0 auto;
}
.black-text-field {
  width:250px;
  margin:10px auto;
}
.black-text-field input::placeholder {
  color:black;
}
/* backpack, info, notes */
.info-button {
  position:absolute;
  right:10px;
  top:7px;
  width:50px;
}
.notes-button {
  position:absolute;
  right:10px;
  top:40px;
  width:50px;
}
.backpack-image {
  position:absolute;
  right:65px;
  top:0;
  width:50px;
}

.no-show-small {
  display: block;
}
@media (max-width:480px) {
  .no-show-small {
    display: none;
  }
}
.no-show-bigger {
  display: none;
}
@media (max-width:480px) {
  .no-show-bigger {
    display: block;
  }
}
.border {
  border: 1px solid #699A7D;
  font-size:11px;
}
.borderRed {
  border: 1px solid red;
}
.image-holder {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height:calc(100vh - 60px);
  max-height:600px;
}
@media (min-width:600px) {
  .image-holder {
    height:calc(100vh - 30px);
  }
}
/* thief 1 */
.red-table-4-chairs {
  position:absolute;
  top:47%;
  right:10%;
  z-index:22;
}
@media (max-width:480px) {
  .red-table-4-chairs {
    top:77%;
    right:1%;
  }
}
.black-light {
  position:absolute;
  bottom:15%;
  right:39%;
  z-index:22;
  width: 10%;
  max-width:40px;
}
@media (max-width:480px) {
  .black-light {
    bottom:5%;
    right:52%;
    z-index:22;
  }
}
.torn-diary {
  position: absolute;
  bottom: 22%;
  left: 43%;
  z-index: 25;
}
@media (max-width:480px) {
  .torn-diary {
    bottom: 12%;
    z-index: 25;
  }
}
.diary {
  max-width: 40px;
  margin: auto;
  position: absolute;
  top: 22%;
  right: 40%;
  z-index: 20;
  width: 10%;
}
@media (max-width:450px) {
  .diary {
    top: 42%;
    right:10%;
  }
}
.back-picnic-table {
  max-width: 174px;
  padding: 0;
  margin: auto;
  position:absolute;
  top:25%;
  right:30%;
  z-index:12;
  width:40%;
}
@media (max-width:450px) {
  .back-picnic-table {
    top: 42%;
    right:1%;
  }
}
.diary-big {
  background: url("https://escapeoutgames.tybeewebdesign.com/wp-content/uploads/2022/02/opendiary.png") #699A7D top left / auto no-repeat;
  font-family: 'Delicious Handrawn';
  font-size:16px;
  line-height: 20px;
  padding-left: 30px;
  height:285px;
}
.torn-diary-big {
  background: url("https://escapeoutgames.tybeewebdesign.com/wp-content/uploads/2022/04/torndiarythief.png") #699A7D top left / auto no-repeat;
}
.tree-circle {
  position:absolute;
  bottom:29%;
  left:30%;
  z-index:12;
}
.tree-with-sign {
  position:absolute;
  bottom: 37%;
  left:38%;
  z-index:20;
}
.palm-tree {
  position:absolute;
  bottom:34%;
  left:24%;
  z-index:20;
}
@media (max-width:480px) {
  .tree-circle {
    left:28%;
    bottom: 21%;
  }
  .palm-tree {
    bottom:23%;
    left:18%;
    max-width:130px;
  }
  .tree-with-sign {
    bottom: 25%;
    left:45%;
  }
}
.knob-message {
  position:absolute;
  bottom:35%;
  left:18%;
  z-index:23;
}
@media (max-width:480px) {
  .knob-message {
    left:9%;
  }
}
.red-table-2-chairs {
  max-width: 200px;
  position:absolute;
  bottom:50%;
  left:0%;
  z-index:19;
}
@media (max-width:480px) {
  .red-table-2-chairs {
    max-width: 170px;
    position:absolute;
    bottom:59%;
    left:0%;
    z-index:19;
  }
}
.legs {
  position: absolute;
  bottom: 50%;
  left: 5%;
  z-index: 23;
}
@media (max-width:480px) {
  .legs {
    bottom: 57%;
    left: 5%;
  }
}
.bottom-blue-table {
  max-width: 200px;
  position:absolute;
  bottom:5%;
  left:0%;
  z-index:22;
}
@media (max-width:480px) {
  .bottom-blue-table {
    max-width: 150px;
    position:absolute;
    bottom:3%;
    left:0%;
    z-index:22;
  }
}
.numbus {
  position:absolute;
  bottom:5%;
  left:0%;
  z-index:23;
}
@media (max-width:480px) {
  .numbus {
    bottom:-1%;
    left:0%;
    width:39%;
  }
}
.tybean-octopus {
  position:absolute;
  top:12%;
  right:17%;
  max-width:100px;
  z-index:102;
}
@media (max-width:480px) {
  .tybean-octopus {
    top: 5%;
    left: 15%;
  }
}
.safe {
  max-width: 800px;
  padding: 0;
  margin: auto;
  position:absolute;
  bottom:33%;
  right:50%;
  z-index:25;
}
.winner {
  position:absolute;
  right:4%;
  top:30px;
  width: 92%;
  text-align: center;
  font-size: 16px;
  margin-bottom:20px;
  background-color: #58AAED;
  background-image: linear-gradient( #4279dc, #87bbe7);
  padding:20px;
  border: 2px solid #0D5189;
  z-index:102;
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.bottom {
  top: 185px;
}
.comment-screen {
  z-index:103;
}
.safe-open {
  max-width: 800px;
  padding: 0;
  margin: auto;
  position:absolute;
  bottom:33%;
  right:50%;
  z-index:26;
}
.time {
  text-align: center;
  position: relative;
  color:#fff;
}
.bottom-button {
  padding: 2px;
  font-size: 10px;
  border: 1px solid black;
}
.play-button {
  font-size: 30px;
  width: 40%;
  margin-left: 30%;
}
.home-button {
  font-size: 20px;
  width: 30%;
  margin-left: 35%;
  border: 1px solid black;
}
.play-div {
  font-size: 20px;
  width: 40%;
  margin-left: 30%;
  text-align:center;
}
.play-image {

}
@media (max-width:450px) {
  .play-button {
    font-size: 30px;
    width: 80%;
    margin-left: 10%;
  }
  .home-button {
    font-size: 20px;
    width: 60%;
    margin-left:20%;
  }
  .play-div {
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    text-align:center;
  }
}