@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Roboto&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.data
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background: #f7f7f7;
  padding: 0;
}
html {
  font-family: "Open Sans", Helvetica, system-ui, Verdana, Arial, sans-serif;
}
/* all games */
.wp-block-columns {
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.wp-block-column {
  padding:10px;
}
.wp-block-column-intro {
  padding:10px;
  min-width:70px;
}
.input-column2 {
  width:150px;
}
.backpack-button {
  width:100px;
}
.link {
  font-size:20px;
  font-weight:bold;
  color:#004C09;}
.link:hover {
  text-decoration: underline;
}
.font-small {
  font-size:.9em;
}
.italics {
  font-style: italic;
}
.right {
  color:#46df07;
  font-size: 1.5em;
  font-weight: bold;
}
.red {
  color:#7e0b0b;
}
.hide {
  display:none;
}
.show {
  display:block;
}
.hide-gradual {
  visibility: hidden;
  opacity: 0;
}
.show-gradual {
  visibility: visible;
  opacity: .9;
}
.inputNumBox {
  width:30px;
  border: 1px solid black;
  height:30px;
  font-size:20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.bouncy{
  animation:bouncy 7s infinite linear;
}
@keyframes bouncy {
0%{top:0em}
40%{top:0em}
43%{top:-0.9em}
46%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
}
.description-text {
  width: 190px;
}
@media (max-width:815px) {
  .description-text {
    width:280px;
  }
}
.waiver-class {
  position:absolute;
  padding:20px;
  background-color:#699A7D;
  color:white;
  height:calc(100vh - 60px);
  width:calc(100vw - 60px);
}
.game-card {
  width:300px;
}
.small {
  font-size:.8em;
}
.all-screen {
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: calc(100vh - 60px);
  background-color: #699A7D;
  opacity: 1;
  z-index: 103;
  transition: visibility 0s, opacity .5s linear;
  padding:20px;
}
.hint-holder {
  position:absolute;
  top:-1px;
  max-width: 1000px;
  width: calc(100vw - 40px);
  left:-1px;
  background-color:#699A7D;
  height: calc(100vh - 40px);
  margin-bottom:20px;
  padding:20px 30px 20px 20px;
  transition: visibility 0s, opacity .5s linear;
  z-index:150;
}

:root, [data-amplify-theme] {
  --amplify-components-textfield-border-color: #000 !important;
  --amplify-components-field-label-color: #000 !important;
  --amplify-components-button-primary-background-color: #0D5189 !important;
  --amplify-components-tabs-item-active-color: #0D5189 !important;
  --amplify-components-tabs-item-active-border-color: #0D5189 !important;
  /* you can also use references: */
  --amplify-colors-font-secondary: var(--amplify-colors-neutral-60);
  --amplify-components-button-padding-block-start: .25rem !important;
  --amplify-components-button-padding-block-end: .25rem !important;
}

/* buttons */
.button {
  background-color: #0D5189;
  font-family:'Roboto',sans-serif;
  color:white;
  font-weight:normal;
}
.button-small {
  font-size: 12px;
  margin: 10px 20px 10px 0;
}
.button:hover, .button-small:hover {
  cursor: pointer;
  background-color: #3FB20F !important;
}

.button2 {
  background-color: #4CAF50;
  border: 1px solid black;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  top:0px;
  right:20px;
}

.button2:hover {
  cursor: pointer;
  background-color: #555;
}
.button3 {
  left:30px;
  right:auto;
}
.close-button {
  background-color: transparent;
  color: #000;
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 15px;
  position:absolute;
  top:10px;
  right:20px;
  font-size:20px;
  width:30px;
  height:30px;
}

.action-button {
  background-color: #0B4311;
  color: #ffffff;
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 15px;
}
.bold {
  font-weight:bold;
}

.bold-underline {
  text-decoration: underline;
  font-weight:bold;
}

/* backpack, info, notes */
.info-button {
  position:absolute;
  right:10px;
  top:7px;
  width:50px;
}
.notes-button {
  position:absolute;
  right:10px;
  top:40px;
  width:50px;
}
.backpack-image {
  position:absolute;
  right:65px;
  top:0;
  width:50px;
}

.no-show-small {
  display: block;
}
@media (max-width:480px) {
  .no-show-small {
    display: none;
  }
}
.no-show-bigger {
  display: none;
}
@media (max-width:480px) {
  .no-show-bigger {
    display: block;
  }
}
.border {
  border: 1px solid #699A7D;
  font-size:11px;
}
.borderRed {
  border: 1px solid red;
}
.image-holder {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height:calc(100vh - 60px);
  max-height:600px;
}
/* thief 1 */
.red-table-4-chairs {
  position:absolute;
  top:47%;
  right:10%;
  z-index:22;
}
@media (max-width:480px) {
  .red-table-4-chairs {
    top:77%;
    right:1%;
  }
}
.black-light {
  position:absolute;
  bottom:15%;
  right:39%;
  z-index:22;
  width: 10%;
  max-width:40px;
}
@media (max-width:480px) {
  .black-light {
    bottom:5%;
    right:52%;
    z-index:22;
  }
}
.torn-diary {
  position: absolute;
  bottom: 22%;
  left: 43%;
  z-index: 25;
}
@media (max-width:480px) {
  .torn-diary {
    bottom: 12%;
    z-index: 25;
  }
}
.diary {
  max-width: 40px;
  margin: auto;
  position: absolute;
  top: 22%;
  right: 40%;
  z-index: 20;
  width: 10%;
}
@media (max-width:450px) {
  .diary {
    top: 42%;
    right:10%;
  }
}
.back-picnic-table {
  max-width: 174px;
  padding: 0;
  margin: auto;
  position:absolute;
  top:25%;
  right:30%;
  z-index:12;
  width:40%;
}
@media (max-width:450px) {
  .back-picnic-table {
    top: 42%;
    right:1%;
  }
}
.diary-big {
  background: url("https://escapeoutgames.tybeewebdesign.com/wp-content/uploads/2022/02/opendiary.png") #699A7D top left / auto no-repeat;
}
.torn-diary-big {
  background: url("https://escapeoutgames.tybeewebdesign.com/wp-content/uploads/2022/04/torndiarythief.png") #699A7D top left / auto no-repeat;
}
.tree-circle {
  position:absolute;
  bottom:29%;
  left:30%;
  z-index:12;
}
.tree-with-sign {
  position:absolute;
  bottom: 37%;
  left:38%;
  z-index:20;
}
.palm-tree {
  position:absolute;
  bottom:34%;
  left:24%;
  z-index:20;
}
@media (max-width:480px) {
  .tree-circle {
    left:28%;
    bottom: 21%;
  }
  .palm-tree {
    bottom:23%;
    left:18%;
    max-width:130px;
  }
  .tree-with-sign {
    bottom: 25%;
    left:45%;
  }
}
.knob-message {
  position:absolute;
  bottom:35%;
  left:18%;
  z-index:23;
}
@media (max-width:480px) {
  .knob-message {
    left:9%;
  }
}
.red-table-2-chairs {
  max-width: 200px;
  position:absolute;
  bottom:50%;
  left:0%;
  z-index:19;
}
@media (max-width:480px) {
  .red-table-2-chairs {
    max-width: 170px;
    position:absolute;
    bottom:59%;
    left:0%;
    z-index:19;
  }
}
.legs {
  position: absolute;
  bottom: 50%;
  left: 5%;
  z-index: 23;
}
@media (max-width:480px) {
  .legs {
    bottom: 57%;
    left: 5%;
  }
}
.bottom-blue-table {
  max-width: 200px;
  position:absolute;
  bottom:5%;
  left:0%;
  z-index:22;
}
@media (max-width:480px) {
  .bottom-blue-table {
    max-width: 150px;
    position:absolute;
    bottom:3%;
    left:0%;
    z-index:22;
  }
}
.numbus {
  position:absolute;
  bottom:5%;
  left:0%;
  z-index:23;
}
@media (max-width:480px) {
  .numbus {
    bottom:-1%;
    left:0%;
    width:39%;
  }
}
.tybean-octopus {
  position:absolute;
  top:12%;
  right:17%;
  max-width:100px;
  z-index:102;
}
@media (max-width:480px) {
  .tybean-octopus {
    top: 5%;
    left: 15%;
  }
}
.safe {
  max-width: 800px;
  padding: 0;
  margin: auto;
  position:absolute;
  bottom:33%;
  right:50%;
  z-index:25;
}
.winner {
  position:absolute;
  right:4%;
  top:30px;
  width: 92%;
  text-align: center;
  font-size: 16px;
  margin-bottom:20px;
  background-color: #58AAED;
  padding:20px;
  border: 2px solid #0D5189;
  z-index:102;
}
.safe-open {
  max-width: 800px;
  padding: 0;
  margin: auto;
  position:absolute;
  bottom:33%;
  right:50%;
  z-index:26;
}
.time {
  text-align: center;
  position: relative;
}
.bottom-button {
  padding: 2px;
  font-size: 10px;
  border: 1px solid black;
}
.play-button {
  font-size: 30px;
  width: 40%;
  margin-left: 30%;
}
.home-button {
  font-size: 20px;
  width: 30%;
  margin-left: 35%;
  border: 1px solid black;
}
.play-div {
  font-size: 20px;
  width: 40%;
  margin-left: 30%;
  text-align:center;
}
.play-image {

}
@media (max-width:450px) {
  .play-button {
    font-size: 30px;
    width: 80%;
    margin-left: 10%;
  }
  .home-button {
    font-size: 20px;
    width: 60%;
    margin-left:20%;
  }
  .play-div {
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    text-align:center;
  }
}