@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Roboto&display=swap');
body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root, [data-amplify-theme]{
  --amplify-primary-color: #11a29b;
  --amplify-primary-tint: #3f6060;
  --amplify-primary-shade: #2dba89;
  --amplify-background-color: #e0faf4;
  --amplify-colors-white: #000000;
  --amplify-components-tabs-item-active-color: #ff0000;
  --amplify-components-card-padding: 10rem;
  --amplify-fonts-default-variable: 'Open Sans','Helvetica Neue', 'Segoe UI', Oxygen, Ubuntu, Cantarell,sans-serif;
}