.image-short {
  max-height: 400px;
}
.hanging-sign{
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 23;
}
.right-picnic-table {
  position:absolute;
  top:63%;
  right:23%;
  z-index:22;
}
@media (max-width:480px) {
  .right-picnic-table {
    right:1%;
    max-width:50%;
  }
}
.safe-shelter {
  position:absolute;
  bottom:0;
  right:18%;
  z-index:22;
}
@media (max-width:480px) {
  .safe-shelter {
    right:1%;
  }
}
.left-picnic-table {
  position:absolute;
  top:62%;
  left:18%;
  z-index:22;
}
@media (max-width:480px) {
  .left-picnic-table {
    left:1%;
    max-width:50%;
    top:64%;
  }
}